@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	background-color: #2e2e2e;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
